@use "../utilities/variables";
@use "../utilities/mixins";

.accordion {
  width: 100%;
}

.accordion-item {
  border-top: 1px solid variables.$grey-20;

  &:last-child {
    border-bottom: 1px solid variables.$grey-20;
  }
}

.accordion__heading {
  font-size: 1.125rem;
  font-weight: bold;
  color: variables.$default-state;
  display: block;

  @include mixins.for-size(desktop-up) {
    font-size: 1.25rem;
  }

  &:active {
    color: variables.$white;
  }
}

.accordion__heading-button {
  padding: 0.625rem 0.5rem;
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  // background-image: url("/icons/denotive/down--blue.svg");
  // background-repeat: no-repeat;
  // background-position: right 1.25rem center;
  // background-size: 1.5rem;

  @include mixins.for-size(desktop-up) {
    padding: 1.125rem 1rem;
  }

  &:hover,
  &:active {
    color: variables.$white;
    svg > path {
      fill: variables.$white;
    }
  }

  &:hover {
    background-color: variables.$hover-state;
  }
  &:active {
    background-color: variables.$active-state;
  }

  & > svg {
    margin-left: auto;

    & > path {
      fill: variables.$default-state;
    }
  }
  .is-open & {
    // background-image: url("/icons/denotive/up-arrow--blue.svg");

    svg {
      transform: rotate(180deg);
    }

    &:hover {
      svg > path {
        fill: variables.$white;
      }
    }
  }
}

.accordion__content {
  padding: 1.125rem 1rem;
  display: none;

  .is-open & {
    display: block;
  }
}
