@use "../utilities/variables";
@use "../utilities/mixins";

.accordion {
  width: 100%;
}

.accordion-item {
  border-top: 1px solid variables.$grey-20;

  &:last-child {
    border-bottom: 1px solid variables.$grey-20;
  }
  &:not(.is-open) {
    .accordion__body {
      display: none;
    }
  }
  &.is-opening > .accordion__body {
    display: block;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
  }
}

.accordion__heading {
  font-size: 1.125rem;
  font-weight: bold;
  color: variables.$default-state;
  display: block;
  margin: 0;

  @include mixins.for-size(desktop-up) {
    font-size: 1.25rem;
  }

  &:active {
    color: variables.$white;
  }
}

.accordion__heading-button {
  padding: 0.625rem 0.5rem;
  width: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  font-size:  inherit;
  font-weight: inherit;
  color: inherit;

  @include mixins.for-size(desktop-up) {
    padding: 1.125rem 1rem;
  }

  &:not([disabled]):focus {
    outline: none;
  }

  &:not([disabled]):focus-visible {
    outline: 2px solid variables.$focus-state;
    outline-offset: 2px;
  }

  &:hover,
  &:active {
    color: variables.$white;
    svg > path {
      fill: variables.$white;
    }
  }

  &:hover {
    background-color: variables.$hover-state;
  }
  &:active {
    background-color: variables.$active-state;
  }

  & > svg {
    margin-left: auto;
    min-width: 1.5rem;

    & > path {
      fill: variables.$default-state;
    }
  }
  .is-open > .accordion__heading > & {
    // background-image: url("/icons/denotive/up-arrow--blue.svg");

    svg {
      transform: rotate(180deg);
    }

    &:hover {
      svg > path {
        fill: variables.$white;
      }
    }
  }
}

.accordion__content {
  padding: 1.125rem 1rem;
}
