@use "../utilities/mixins";
@use "../utilities/variables";

.ucla-breadcrumb {
  font-size: 1rem;
  white-space: nowrap;
  margin-bottom: 0.55rem;

  .ucla-breadcrumb__link {
    color: variables.$default-state;
    font-weight: bold;
    line-height: 1.25;
    cursor: pointer;
    text-decoration: none;
    margin: 0 8px;

    &:hover {
      background-color: variables.$hover-state;
      color: variables.$white;
    }

    &:active {
      background-color: variables.$active-state;
      color: variables.$white;
    }

    &:focus {
      outline: 2px solid variables.$focus-state;
    }
  }

  .ucla-breadcrumb__list-item {
    align-items: center;
    display: flex;

    &:first-child .ucla-breadcrumb__link {
      margin-left: 0;
    }

    & + .ucla-breadcrumb__list-item {
      margin-top: 0;

      &::before {
        color: variables.$grey-40;
        content: "/";
      }
    }
  }

  .ucla-breadcrumb__list {
    display: flex;
    margin: 0;
  }
}
