@use "../utilities/colors";

.ucla-btn {
    $this: &;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.625rem 0.875rem;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1.25;
    display: inline-flex;
    align-items: center;

    &--primary#{$this} {
        background-color: colors.$default-state;
        color: colors.$white;
        border: 2px solid transparent;

        &:hover {
            background-color: colors.$hover-state;
        }
        &:focus {
            outline-offset: 1px;
            outline: 1px solid colors.$focus-state;
        }
        &:active {
            background-color: colors.$active-state;
        }
        &:disabled {
            background-color: colors.$disabled-state;
        }

        & > svg path {
            fill: colors.$white;
        }
    }
    &--primary-light#{$this} {
        background-color: colors.$default-state-light;
        border: 2px solid transparent;
        color: colors.$grey-80;

        &:hover {
            background-color: colors.$hover-state-light;
        }
        &:focus {
            outline-offset: 1px;
            outline: 1px solid colors.$focus-state-light;
        }
        &:active {
            background-color: colors.$active-state-light;
        }
        &:disabled {
            background-color: colors.$disabled-state-light;
        }

        & > svg path {
            fill: colors.$black;
        }
    }
    &--secondary#{$this} {
        border: 2px solid colors.$default-state;
        color: colors.$default-state;
        &:hover {
            background-color: colors.$hover-state;
            border-color: colors.$hover-state;
            color: colors.$white;
        }
        &:focus {
            outline-offset: 1px;
            outline: 1px solid colors.$focus-state;
        }
        &:active {
            background-color: colors.$active-state;
            border-color: colors.$active-state;
        }
        &:disabled {
            border-color: colors.$disabled-state;
            color: colors.$disabled-state;
            background-color: transparent;
        }

        &:hover > svg path,
        &:active > svg path {
            fill: colors.$white;
        }

        & > svg path {
            fill: colors.$default-state;
        }
    }
    &--secondary-light#{$this} {
        border: 2px solid colors.$white;
        color: colors.$white;
        &:hover {
            background-color: colors.$hover-state-light;
            border-color: colors.$hover-state-light;
            color: #000;
        }
        &:focus {
            outline-offset: 1px;
            outline: 1px solid colors.$focus-state-light;
        }
        &:active {
            background-color: colors.$active-state-light;
            border-color: colors.$active-state-light;
        }
        &:disabled {
            border-color: colors.$disabled-state;
            color: colors.$disabled-state;
            background-color: transparent;
        }
        &:hover > svg path,
        &:active > svg path {
            fill: #000;
        }

        & > svg path {
            fill: colors.$white;
        }
    }
    &--tertiary {
        border: 2px solid colors.$white;
        color: colors.$default-state;
        &:hover {
            background-color: colors.$hover-state;
            border-color: colors.$hover-state;
            color: colors.$white;
        }
        &:focus {
            outline-offset: 1px;
            outline: 1px solid colors.$focus-state;
        }
        &:active {
            background-color: colors.$active-state;
            border-color: colors.$active-state;
        }

        &:disabled {
            color: colors.$disabled-state;
            background-color: transparent;
        }

        &:hover > svg path,
        &:active > svg path {
            fill: colors.$white;
        }

        & > svg path {
            fill: colors.$default-state;
        }
    }
    &--tertiary-light#{$this} {
        color: colors.$white;
        &:hover {
            background-color: colors.$hover-state-light;
            border-color: colors.$hover-state-light;
            color: #000;
        }
        &:focus {
            outline-offset: 1px;
            outline: 1px solid colors.$focus-state-light;
        }
        &:active {
            background-color: colors.$active-state-light;
            border-color: colors.$active-state-light;
        }
        &:disabled {
            border-color: colors.$disabled-state;
            color: colors.$disabled-state;
            background-color: transparent;
        }
        &:hover > svg path,
        &:active > svg path {
            fill: #000;
        }

        & > svg path {
            fill: colors.$white;
        }
    }
    &:disabled {
        cursor: not-allowed;
    }

    & > a {
        text-decoration: none;
    }

    & > svg {
        width: 20px;
        height: 20px;
    }

    &--icon-lead#{$this} svg {
        margin-right: 10px;
    }
    &--icon-trail#{$this} svg {
        margin-left: 10px;
    }
}

.ucla-pagination--list {
    display: flex;
    gap: 2px;
    margin: 0;
    list-style: none;

    &-item {
        margin: 0;

        &.ucla-is-disabled > a {
            pointer-events: none;
            border-color: colors.$disabled-state;

            & > svg path {
                fill: colors.$disabled-state;
            }
        }
    }
}

.ucla-pagination--page {
    text-decoration: none;
    border: 2px solid colors.$default-state;
    color: colors.$default-state;
    width: 44px;
    height: 44px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
        max-height: 0.75rem;
        width: 100%;
    }

    &:hover {
        border-color: colors.$focus-state;
        background-color: colors.$focus-state;
        color: colors.$white;
        > svg path {
            fill: colors.$white;
        }
    }

    &:active {
        border-color: colors.$active-state;
        background-color: colors.$active-state;
    }

    &:focus {
        outline: 1px solid colors.$focus-state;
        outline-offset: 1px;
    }
}

.ucla-pagination--page--current {
    background-color: colors.$active-state;
    color: colors.$white;
    pointer-events: none;
}

.ucla-related-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: colors.$default-state;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.75;
    padding: 0.625rem 1rem;
    border-top: 1px solid colors.$grey-20;
    border-bottom: 1px solid colors.$grey-20;

    svg {
        width: 18px;
        height: 18px;
        & > path {
            fill: colors.$default-state;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &:hover {
        color: colors.$white;
        background-color: colors.$hover-state;
        border-color: colors.$hover-state;

        svg > path {
            fill: colors.$white;
        }
    }
    &:focus {
        outline: 2px solid colors.$focus-state;
    }
    &:active {
        color: colors.$white;
        background-color: colors.$active-state;
        border-color: colors.$active-state;

        svg > path {
            fill: colors.$white;
        }
    }
}
