@use "../utilities/variables";

.ucla-btn {
  $this: &;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem 0.875rem;
  cursor: pointer;
  border-radius: 4px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: 0;

  &--primary#{$this} {
    background-color: variables.$default-state;
    color: variables.$white;
    border: 2px solid transparent;

    &:hover {
      background-color: variables.$hover-state;
    }
    &:focus {
      outline-offset: 2px;
      outline: 2px solid variables.$focus-state;
    }
    &:active {
      background-color: variables.$active-state;
    }
    &:disabled {
      background-color: variables.$disabled-state;
    }

    & > svg path {
      fill: variables.$white;
    }
  }
  &--primary-light#{$this} {
    background-color: variables.$default-state-light;
    border: 2px solid transparent;
    color: variables.$grey-80;

    &:hover {
      background-color: variables.$hover-state-light;
    }
    &:focus {
      outline-offset: 2px;
      outline: 2px solid variables.$focus-state-light;
    }
    &:active {
      background-color: variables.$active-state-light;
    }
    &:disabled {
      background-color: variables.$disabled-state-light;
    }

    & > svg path {
      fill: variables.$black;
    }
  }
  &--secondary#{$this} {
    border: 2px solid variables.$default-state;
    color: variables.$default-state;
    &:hover {
      background-color: variables.$hover-state;
      border-color: variables.$hover-state;
      color: variables.$white;
    }
    &:focus {
      outline-offset: 2px;
      outline: 2px solid variables.$focus-state;
    }
    &:active {
      background-color: variables.$active-state;
      border-color: variables.$active-state;
    }
    &:disabled {
      border-color: variables.$disabled-state;
      color: variables.$disabled-state;
      background-color: transparent;
    }

    &:hover > svg path,
    &:active > svg path {
      fill: variables.$white;
    }

    & > svg path {
      fill: variables.$default-state;
    }
  }
  &--secondary-light#{$this} {
    border: 2px solid variables.$white;
    color: variables.$white;
    &:hover {
      background-color: variables.$hover-state-light;
      border-color: variables.$hover-state-light;
      color: #000;
    }
    &:focus {
      outline-offset: 2px;
      outline: 2px solid variables.$focus-state-light;
    }
    &:active {
      background-color: variables.$active-state-light;
      border-color: variables.$active-state-light;
    }
    &:disabled {
      border-color: variables.$disabled-state;
      color: variables.$disabled-state;
      background-color: transparent;
    }
    &:hover > svg path,
    &:active > svg path {
      fill: #000;
    }

    & > svg path {
      fill: variables.$white;
    }
  }
  &--tertiary {
    border: 2px solid transparent;
    color: variables.$default-state;
    &:hover {
      background-color: variables.$hover-state;
      border-color: variables.$hover-state;
      color: variables.$white;
    }
    &:focus {
      outline-offset: 2px;
      outline: 2px solid variables.$focus-state;
    }
    &:active {
      background-color: variables.$active-state;
      border-color: variables.$active-state;
      color: variables.$white;
    }

    &:disabled {
      color: variables.$disabled-state;
      background-color: transparent;
    }

    &:hover > svg path,
    &:active > svg path {
      fill: variables.$white;
    }

    & > svg path {
      fill: variables.$default-state;
    }
  }
  &--tertiary-light#{$this} {
    color: variables.$white;
    &:hover {
      background-color: variables.$hover-state-light;
      border-color: variables.$hover-state-light;
      color: #000;
    }
    &:focus {
      outline-offset: 2px;
      outline: 2px solid variables.$focus-state-light;
    }
    &:active {
      background-color: variables.$active-state-light;
      border-color: variables.$active-state-light;
    }
    &:disabled {
      border-color: variables.$disabled-state;
      color: variables.$disabled-state;
      background-color: transparent;
    }
    &:hover > svg path,
    &:active > svg path {
      fill: #000;
    }

    & > svg path {
      fill: variables.$white;
    }
  }
  &:disabled {
    cursor: not-allowed;
  }

  & > a {
    text-decoration: none;
  }

  & > svg {
    width: 20px;
    height: 20px;
  }

  &--icon-lead#{$this} svg {
    margin-right: 10px;
  }
  &--icon-trail#{$this} svg {
    margin-left: 10px;
  }
}

.ucla-pagination--list {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0;
  list-style: none;

  &-item {
    margin: 0;

    &.ucla-is-disabled > a {
      pointer-events: none;
      border-color: variables.$disabled-state;

      & > svg path {
        fill: variables.$disabled-state;
      }
    }
  }
}

.ucla-pagination--page {
  text-decoration: none;
  border: 2px solid variables.$default-state;
  color: variables.$default-state;
  width: 44px;
  height: 44px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    max-height: 0.75rem;
    width: 100%;
  }

  &:hover {
    border-color: variables.$focus-state;
    background-color: variables.$focus-state;
    color: variables.$white;
    > svg path {
      fill: variables.$white;
    }
  }

  &:active {
    border-color: variables.$active-state;
    background-color: variables.$active-state;
  }

  &:focus {
    outline: 2px solid variables.$focus-state;
    outline-offset: 2px;
  }
}

.ucla-pagination--page--current {
  background-color: variables.$active-state;
  color: variables.$white;
  pointer-events: none;
}

.ucla-related-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: variables.$default-state;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.75;
  text-decoration: none;
  padding: 0.625rem 1rem;
  border-top: 1px solid variables.$grey-20;
  border-bottom: 1px solid variables.$grey-20;

  svg {
    width: 18px;
    height: 18px;
    & > path {
      fill: variables.$default-state;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &:hover {
    color: variables.$white;
    background-color: variables.$hover-state;
    border-color: variables.$hover-state;

    svg > path {
      fill: variables.$white;
    }
  }
  &:focus {
    outline: 2px solid variables.$focus-state;
  }
  &:active {
    color: variables.$white;
    background-color: variables.$active-state;
    border-color: variables.$active-state;

    svg > path {
      fill: variables.$white;
    }
  }
}
