@use '../utilities/variables';

.ucla-carousel.swiper {
  // Fixes bug when swiper is in flexbox/grid where slide has infinite width
  max-width: 100%;

  &:has(.ucla-carousel__pagination) {
    padding-bottom: 1.5rem;
  }

  .ucla-carousel__pagination {
    bottom: var(--swiper-pagination-bottom, 4px);

    &> .ucla-carousel__page {
      background: variables.$grey-20;
      width: 10px;
      height: 10px;
      opacity: unset;
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 3px);

      &.is-active {
        background: variables.$active-state;
        scale: unset;
        transform: unset;
      }

      &:hover {
        background: variables.$hover-state;
      }

      &:focus {
        outline: 2px solid variables.$focus-state;
        outline-offset: 2px;
      }
    }
  }

  &:has(.ucla-carousel__next), &:has(.ucla-carousel__prev) {
    padding-top: 3.75rem;
  }

  .ucla-carousel__next, .ucla-carousel__prev {
    display: block;
    position: absolute;
    top: 22px;
	  padding: 10px;
    border: 1px solid #00598C;
    border-radius: 4px;
    width: unset;
    height: unset;

    &::after {
      font-family: unset;
      font-size: unset;
      line-height: unset;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .ucla-carousel__next {
    right: 0;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.41 6L8 7.41L12.58 12L8 16.59L9.41 18L15.41 12L9.41 6Z' fill='%2300598C' /%3E%3C/svg%3E");
    }
  }

  .ucla-carousel__prev {
    left: auto;
	  right: 58px;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 18L15.41 16.59L10.83 12L15.41 7.41L14 6L8 12L14 18Z' fill='%2300598C' /%3E%3C/svg%3E");
    }
  }
}
