@use "../utilities/colors";

.ucla-chip {
    font-size: 0.8rem;
    line-height: 1.41;
    font-weight: bold;
    color: colors.$default-state;
    border-radius: 20px;
    border: 2px solid colors.$default-state;
    padding: 0.375rem 1rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: colors.$white;
        background-color: colors.$hover-state;
        border-color: colors.$hover-state;

        &.ucla-btn--icon-lead,
        &.ucla-btn--icon-trail {
            svg path {
                fill: colors.$white;
            }
        }
    }

    &:not([disabled]):focus {
        color: colors.$white;
        background-color: colors.$focus-state;
        border-color: colors.$focus-state;
        outline: 1px solid colors.$focus-state;
        outline-offset: 1px;

        &.ucla-btn--icon-lead,
        &.ucla-btn--icon-trail {
            svg path {
                fill: colors.$white;
            }
        }
    }

    &:active {
        color: colors.$white;
        background-color: colors.$active-state;
        border-color: colors.$active-state;

        &.ucla-btn--icon-lead,
        &.ucla-btn--icon-trail {
            svg path {
                fill: colors.$white;
            }
        }
    }

    &__current {
        background-color: colors.$lightest-blue;
        color: colors.$grey-80;
        border-color: colors.$lightest-blue;

        &.ucla-btn--icon-lead,
        &.ucla-btn--icon-trail {
            svg path {
                fill: colors.$grey-80;
            }
        }
    }

    &.ucla-btn--icon-lead,
    &.ucla-btn--icon-trail {
        svg path {
            fill: colors.$default-state;
        }
    }
    &.ucla-btn--icon-lead svg {
        margin-right: 11px;
    }
    &.ucla-btn--icon-trail svg {
        margin-left: 11px;
    }

    & + .ucla-chip {
        margin-left: 0.75rem;
    }
}
