@use "../utilities/variables";

.ucla-progress {
    width: 100%;
    
    &__bar {
        all: revert;
        width: 100%;

        &[value] {
            --color: #{variables.$default-state}; 
            --background: #{variables.$grey-10}; 
          
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            width: 100%;
            border-radius: 10em;
            height: .75rem;
            background: var(--background);
          }
          &[value]::-webkit-progress-bar {
            border-radius: 10em;
            background: var(--background);
          }
          &[value]::-webkit-progress-value {
            border-radius: 10em;
            background: var(--color);
          }
          &[value]::-moz-progress-bar {
            border-radius: 10em;
            background: var(--color);
          }

        &--ucla-blue[value] {
            --color: #{variables.$ucla-blue};
        }
        &--gold[value] {
            --color: #{variables.$ucla-gold};
        }

        &--light-blue[value] {
            --color: #{variables.$lighter-blue};
        }

        &--thin[value] {
            height: .375rem;
        }

        &--thick[value] {
            height: 1.125rem;
        }

        &--thicker[value] {
            height: 1.5rem;
        }
    }

    

    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    &__assistive {
        font-size: .75rem;
        line-height: 1.3333;
        margin-top: .5rem;
        color: variables.$grey-60;
    }
}