@use "../utilities/variables";
@use "../utilities/mixins";

.ucla-table {
  td,
  th {
    border: 1px solid variables.$grey-20;
    border-width: 0;
    padding: 0.875rem 1rem;
    vertical-align: top;
    font-size: 0.8rem;
  }
  th {
    font-weight: bold;

    &.ucla-sortable {
      cursor: pointer;
      position: relative;

      svg {
        width: 8px;
        height: 14px;
        position: absolute;
        right: 0;

        path {
          fill: variables.$grey-80;
        }

        &.asc path:first-child {
          fill: variables.$ucla-blue;
        }
        &.desc path:last-child {
          fill: variables.$ucla-blue;
        }
      }
    }
  }
  tbody tr {
    &:nth-child(odd) {
      background-color: variables.$grey-05;
    }
    &.ucla-is-gold {
      background-color: variables.$ucla-gold;
    }
    &.ucla-is-blue {
      background-color: variables.$lightest-blue;
    }
  }
  &.ucla-table__border {
    td,
    th {
      border-width: 1px;
    }

    &.ucla-table__sticky-column {
      border-collapse: separate;
      thead > tr > th:first-child {
        border-right: 1px solid variables.$grey-20;
      }

      tbody > tr > td:first-child {
        border-right: 1px solid variables.$grey-20;
      }

      tfoot > tr > th:first-child {
        border-right: 1px solid variables.$grey-20;
      }
    }
  }

  &__sticky-column {
    thead > tr {
      & > th:first-child {
        position: sticky;
        z-index: 2;
        left: 0;
        background-color: variables.$white;
      }
      &.ucla-is-gold > th:first-child {
        background-color: variables.$ucla-gold;
      }
      &.ucla-is-blue > th:first-child {
        background-color: variables.$lightest-blue;
      }
    }
    tbody > tr {
      & > td:first-child,
      & > th:first-child {
        position: sticky;
        z-index: 2;
        left: 0;
        background-color: variables.$white;
      }
      &:nth-child(odd) > td:first-child,
      &:nth-child(odd) > th:first-child {
        background-color: variables.$grey-05;
      }
      &.ucla-is-gold > td:first-child,
      &.ucla-is-gold > th:first-child {
        background-color: variables.$ucla-gold;
      }
      &.ucla-is-blue > td:first-child,
      &.ucla-is-blue > th:first-child {
        background-color: variables.$lightest-blue;
      }
    }
    tfoot > tr > th:first-child {
      position: sticky;
      z-index: 2;
      left: 0;
      background-color: variables.$white;
    }
  }
}

.ucla-table__responsive {
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  overflow: auto;
  overflow-y: hidden;
}
