@use "../../utilities/variables";

.ucla-field__textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 1rem;
  resize: vertical;
  background-color: variables.$grey-05;
  border: 1px solid variables.$grey-60;
  border-radius: 4px;

  &::placeholder {
    color: variables.$grey-40;
  }

  &:focus {
    outline: 2px solid variables.$focus-state;
  }

  &:disabled {
    color: variables.$grey-40;
    border: variables.$grey-05;
    cursor: not-allowed;

    &::placeholder {
      color: variables.$grey-20;
    }
  }

  .ucla-is-warning &,
  &.ucla-is-warning {
    border-color: variables.$warning-orange;
  }

  .ucla-is-error &,
  &.ucla-is-error {
    border-color: variables.$error-red;
  }
}
