// PRIMARY COLORS
$ucla-blue: #2774ae;
$ucla-gold: #ffd100;
$white: #fff;

// SECONDARY COLORS
$darkest-blue: #003b5c;
$darker-blue: #005587;
$lighter-blue: #8bb8e8;
$lightest-blue: #daebfe;
$darkest-gold: #ffb81c;
$darker-gold: #ffc72c;

// GRAYSCALE
$black: #000;
$grey-80: #333;
$grey-60: #666;
$grey-40: #999;
$grey-20: #ccc;
$grey-10: #e5e5e5;
$grey-08: #ebebeb;
$grey-05: #f2f2f2;

// INTERACTIVE
$default-state: #00598c;
$hover-state: #0079bf;
$active-state: $darkest-blue;
$focus-state: #00568c;
$disabled-state: #757575;
$visited-state: #5223b0;

// INTERACTIVE LIGHT
$default-state-light: $ucla-gold;
$hover-state-light: #ffe500;
$active-state-light: #ffbf0f;
$focus-state-light: #ffe500;
$disabled-state-light: $grey-10;
$visited-state-light: $white;

// DENOTIVE COLORS
$error-red: #d60000;
$success-green: #007339;
$warning-orange: #f57f17;
$primary-alert-blue: #8bb8e8;
$secondary-alert-grey: $grey-40;
