@use "../utilities/mixins.scss";

/* Start Order */

.ucla-order {

  @for $i from 0 through 6 {
    &-#{$i} {
      order: $i;
    }
  }

  @include mixins.for-size(tablet-up) {
    @for $i from 0 through 6 {
      &-md-#{$i} {
        order: $i;
      }
    }
  }

  @include mixins.for-size(desktop-up) {
    @for $i from 0 through 6 {
      &-lg-#{$i} {
        order: $i;
      }
    }
  }

}