@use "./variables";
@use "./colors";
@use "./mixins";

$body-size: 16px !default;
$body-font-family: variables.$font !default;
$body-color: variables.$grey-80 !default;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-size;
}

.ucla-prose {
  line-height: 1.5;

  h1 {
    font-size: clamp(
      variables.$text-lg,
      0.991rem + 2.626vw,
      variables.$text-xl
    );
  }
  h2 {
    font-size: clamp(1.75rem, 0.911rem + 1.751vw, variables.$text-lg);
  }
  h3 {
    font-size: clamp(variables.$text-sm, 0.83rem + 0.875vw, variables.$text-md);
  }
  h4 {
    font-size: clamp(1.125rem, 0.915rem + 0.438vw, variables.$text-sm);
  }
  h5 {
    font-size: variables.$text-base;
  }
  h6 {
    font-size: variables.$text-xs;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.125;
  }

  p {
    margin-block-start: 1rem;
    margin-block-end: 1rem;

    &:first-child {
      margin-block-start: 0;
    }
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;

  &.lead {
    font-size: clamp(variables.$text-sm, 0.83rem + 0.875vw, variables.$text-md);
    line-height: 1.2;
  }
}

a:not([class]) {
  color: variables.$default-state;
  text-decoration: underline;

  &:visited {
    color: variables.$visited-state;
  }

  &:hover {
    color: variables.$white;
    background-color: variables.$hover-state;
  }
  &:focus {
    outline: 2px solid variables.$focus-state;
    outline-offset: 2px;
  }
  &:active {
    color: variables.$active-state;
  }
}

small {
  font-size: 0.875rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

ins {
  background-color: variables.$lightest-blue;
}

mark {
  background: variables.$focus-state-light;
}

code {
  font-family: "Courier", monospace;
  background-color: rgba(83, 83, 99, 0.075);
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

.blockquote {
  padding-left: 1.75rem;
  border-left: 8px solid variables.$ucla-blue;

  & > figcaption {
    margin-top: 1rem;
    padding-left: 1.1rem;
    color: variables.$grey-60;
    position: relative;

    &::before {
      content: "\2014";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.text-lg {
  font-size: variables.$text-md;
  line-height: 1.5;
}

.text-sm {
  font-size: variables.$text-sm;
  line-height: 1.71;
}

.text-editorial {
  font-size: variables.$text-sm;
  font-weight: bold;
  color: variables.$grey-60;
}

// Title & Headline

.headline-text__xl,
h1 {
  font-size: clamp(variables.$text-lg, 0.991rem + 2.626vw, variables.$text-xl);
}

.headline-text__lg,
h2 {
  font-size: clamp(1.75rem, 0.911rem + 1.751vw, variables.$text-lg);
}

.headline-text__md,
h3 {
  font-size: clamp(variables.$text-sm, 0.83rem + 0.875vw, variables.$text-md);
}

.headline-text,
h5 {
  font-size: variables.$text-base;
}

.headline-text__sm,
h4 {
  font-size: clamp(1.125rem, 0.915rem + 0.438vw, variables.$text-sm);
}

.headline-text__xs,
h6 {
  font-size: variables.$text-xs;
}

.headline-text__xl,
.headline-text__lg,
.headline-text__md,
.headline-text,
.headline-text__sm,
.headline-text__xs,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.125;
}

.ucla-text-left {
  text-align: left !important;
}
.ucla-text-right {
  text-align: right !important;
}
.ucla-text-center {
  text-align: center !important;
}
.ucla-text-regular {
  font-weight: 400 !important;
}
.ucla-text-bold {
  font-weight: 700 !important;
}
.ucla-text-uppercase {
  text-transform: uppercase;
}

// List
li + li {
  margin-top: 1rem;
}

ol {
  list-style-position: outside;
  padding: 0;
  margin: 2rem 0 0 1.5rem;

  ol {
    margin-top: 1rem;
  }

  ul {
    margin-top: 1rem;
  }

  &:not([type]) {
    list-style-type: decimal;

    &.ucla-list__lower-alpha {
      list-style-type: lower-alpha;
    }
    &.ucla-list__lower-roman {
      list-style-type: lower-roman;
    }
    &.ucla-list__upper-alpha {
      list-style-type: upper-alpha;
    }
    &.ucla-list__upper-roman {
      list-style-type: upper-roman;
    }
  }
}

ul {
  list-style: disc outside;
  padding: 0;
  margin: 2rem 0 0 1.5rem;

  ul {
    margin-top: 1rem;
    list-style-type: circle;

    ul {
      list-style-type: square;
    }
  }
  ol {
    margin-top: 1rem;
  }

  & > li::marker {
    font-size: 1.1rem;
  }

  &.ucla-list__plain {
    list-style: none;
    margin-left: 0;
  }

  &.ucla-list__inline {
    margin-top: 0;
    margin-left: 0;
    list-style: none;
    & > li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      & + li {
        margin-top: 0;
      }
    }
  }
}

dt {
  font-weight: bold;
  line-height: 1.5;
}

dd {
  margin: 0 0 1rem;
  line-height: 1.5;
}

hr {
  background-color: variables.$grey-20;
  border: none;
  height: 1px;
  margin: 1.5rem 0;
}
