/* Typography */
$font: "Helvetica", "Roboto", "Arial", sans-serif;

/* Heading */
/* 81px */
$text-xxl: 5.063rem;
/* 54px */
$text-xl: 3.375rem;
/* 36px */
$text-lg: 2.25rem;
/* 24px */
$text-md: 1.5rem;
/* 16px */
$text-base: 1rem;
/* 14px */
$text-sm: 0.875rem;

/* Viewports */
/* 768px */
$tablet: 48rem;
/* 960px */
$desktop: 60rem;
/* 1224px */
$desktop-lg: 76.5rem;
