/* Typography */
$font: "Helvetica", "Roboto", "Arial", sans-serif;
// $font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;

/* Heading */
/* 81px */
$text-xxl: 5.063rem;
/* 54px */
$text-xl: 3.375rem;
/* 36px */
$text-lg: 2.25rem;
/* 24px */
$text-md: 1.5rem;
/* 16px */
$text-base: 1rem;
/* 14px */
$text-sm: 0.875rem;

/* Viewports */
/* 768px 48rem */
$tablet: 768px;
/* 960px 60rem */
$desktop: 960px;
/* 1224px 76.5rem */
$desktop-lg: 1224px;
