/***************** STOP!!! READ THIS!! *****************/
// These are mandlebrot theme styles here only. DO NOT put component related styles here. Those belong in ./src/scss
// https://fractal.build/guide/web/default-theme.html#default-theme-mandelbrot

.Header {
    background-color: #2774ae;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

.Header-button {
    background: #00598c;
}

// Hyperlinks
a {
    color: #00598c;
}

// Sidebar hyperlinks
a.Tree-entityLink {
    font-weight: bold;
}

// CSS display code
.hljs-number,
.hljs-attr {
    color: #1d832f !important;
}

// HTML and CSS display code comments
.hljs-comment {
    color: #636363 !important;
}

// Sidebar Nav
.Frame {
    .Header-navToggleIcon--open {
        text-align: center;
    }
    &-body {
        margin-right: 0;
    }

    &-panel--sidebar {
        background-color: white;
    }
}

.Navigation {
    background-color: white;

    .Tree {
        a {
            &:hover {
                color: #333;
            }
        }

        &-items {
            margin: 0;
            list-style: none;

            ul {
                margin: 0;
                list-style: none;
            }
        }

        &-title {
            color: #000;
            font-size: 26px;
            letter-spacing: 0.1px;
            text-transform: capitalize;
        }

        &-item {
            border-bottom: 1px solid #ccc;
            background-color: white;

            &:last-of-type {
                border-bottom: 0;
            }

            &.is-closed {
                background-color: white;
            }
        }
    }
    .Tree-item + .Tree-item {
        margin: 0;
    }
}

// Fix for mobile view where inline styles does not apply on first load
[dir="ltr"] .Frame-body {
    @media (max-width: 47.49em) {
        margin-right: -240px;
    }
}

// The Information title in the left hand menu
.Frame-panel--sidebar .Navigation .Navigation-group:nth-of-type(4) .Tree {
    &-header {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &-title {
        font-size: 14px;
        margin-bottom: 0 !important;
        padding: 0 !important;
    }
}

// Fill in Status Dots
.Status-dot {
    &[title="Ready"] {
        background-color: #007339;
    }

    &[title="In Review"] {
        background-color: #0077c0;
    }

    &[title="In Progress"] {
        background-color: #812990;
    }

    &[title="Submitted"] {
        background-color: #e10786;
    }

    &[title="Deprecated"] {
        background-color: #d60000;
    }
}
